<link rel="stylesheet" href="https://unpkg.com/primeflex@3.1.2/primeflex.css">

<div class="grid">
  <div class="col-7">
    <h1>Login do Usuário</h1>
  </div>
  <div class="col-5">
      <h1>Identifique-se com:</h1> <br>

      <div class="form-user">
        <label><span>Nome de Usuário</span></label> <br>
        <input type="text" placeholder="Digite o seu nome de usuário"/>
      </div>
      <br>

      <div class="form-psw">
        <label>Senha</label> <br>
        <input type="password" placeholder="Digite a sua senha atual"/>
      </div>

      <a h-ref="https://www.google.com">Esqueci minha senha</a>

      <div class="botoes">
        <button mat-button>Cadastre-se</button>
        <button id="btn-login">Continuar</button>
      </div>
  </div>
</div>
