/* You can add global styles to this file, and also import other style files */
$bg-color: #252525 !important;
$font-color: #fff !important;

.grid{
  background-color: $bg-color;
  color: $font-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
